<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Gamezy Kids</title>
	<link rel="stylesheet" href="css/style-base.css">
</head>

<body>
	<div class="wrapper">
		<nav class="navbar">
			{{!-- <img class="logo" src="images/logo2.png"> --}}
			<ul>
				<li><a class="active" href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</nav>
		<div class="center">
			<div class="insideheader">
				<h1>Welcome To</h1>
				<h2>Gamezy Academy</h2>
			</div>

			<div class="buttons">
				
				<a href="https://www.youtube.com/channel/UC5m3YqMvGKJZQDVUZQEXnbw/featured" target="_blank">
				<button>Explore More</button>
				</a>

				<a href="/login">
					<button class="btn2">Login here</button>
				</a>
			</div>
		</div>
</body>

</html>